@import "styles/variables";

.sidebar__button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-outlined {
  border: 2px solid $text-blue;
  background-color: inherit;
  color: $text-blue;
  transition: all 0.2s;
  & path {
    stroke: $text-blue;
  }
}

.btn-outlined:hover {
  background-color: $bg-blue;
  color: $text-white;
  outline: none;
  & path {
    stroke: $text-white;
  }
}

.dark__btn-outlined {
  border: 2px solid $text-white;
  background-color: inherit;
  color: $text-white;
  transition: all 0.2s;
  & path {
    stroke: $text-white;
  }
}

.dark__btn-outlined:hover {
  background-color: $bg-white;
  color: $text-black;
  outline: none;
  & path {
    stroke: $text-black;
  }
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.02em;
  border-radius: 5px;
}
