$primary-font: "DM Sans";

// background-colors
$bg-main-blue: #142683;
$bg-blue: #445ee2;
$bg-gray: rgba(247, 248, 250, 0.5);
$bg-dark-gray: #ebf0f5;
$bg-white: #fff;
$bg-modal: rgba(30, 39, 46, 0.9);
$bg-transparent: transparent;
$bg-black: #1e272e;
$bg-gray-2: #e5e5e5;

// text-color
$text-black: #1e272e;
$text-white: #fff;
$text-gray: #566474;
$text-blue: #445ee2;

// Border-color
$margin-gray: #ebf0f5;
$margin-dark: #566474;
$margin-white: #fff;
$margin-blue: #445ee2;

// Home-page
$sub-heading-color: #566474;
