@import "styles/variables";

.item {
  width: 100%;
  padding: 7px 15px;
  background-color: $bg-dark-gray;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: $text-gray;
}
