@import "styles/variables";

.search-box {
  display: flex;
  flex: 0.6;
  font-size: 1.2rem;
  align-items: center;
  & div {
    width: 100%;
  }
  & input {
    width: 100%;
    padding: 0.5rem;
    color: #fff;
  }
}
