@import "styles/variables";

.modal {
  background-color: $bg-modal;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.modal__box {
  min-height: 300px;
  background-color: $bg-white;
  border: 1px solid $margin-gray;
  text-align: center;
  padding: 3rem;
  border-radius: 10px;
}

.dark__modal__box {
  background-color: $bg-black;
  border: 1px solid $margin-white;
  color: $text-white;
  text-align: center;
  padding: 3rem;
  border-radius: 10px;
  min-height: 300px;
}
