@import "styles/variables";

.sidebar {
  background-color: $bg-gray;
  width: 350px;
  height: 100%;
  position: fixed;
  overflow: auto;
}

.sidebar__outer-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.sidebar__scroller {
  width: 1rem;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  & div:first-of-type {
    height: 40px;
    width: 2px;
    background-color: $bg-modal;
    margin-right: 2px;
  }
  & div:last-of-type {
    height: 30px;
    width: 2px;
    background-color: $bg-modal;
  }
}

.sidebar__inner-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & svg {
    margin-right: 0.5rem;
  }
  & i {
    margin-right: 0.5rem;
  }
}

.sidebar__logo-box {
  margin-bottom: 2.5rem;
  & > img {
    width: 160px;
  }
}

.sidebar__list-box {
  flex: 0.9;
  margin: 2rem 0;
}

.sidebar__lock-box {
  margin-bottom: 3rem;
  & .btn {
    width: 100%;
  }
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.02em;
  border-radius: 5px;
}

.btn-contained {
  background-color: $text-blue;
  color: $text-white;
  border-color: $margin-blue;
  transition: all 0.2s;
}

.btn-contained:active {
  border-color: $margin-blue;
  outline: none;
}
